.App {
  background-color: lightgray;
  padding: 0 2rem 2rem 2rem;

  &_header {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    font-family: Arial;
  }

  &_para {
    color: darkslategray;
    font-family: Arial;
  }

  &_card {
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 4px;
  }

  &_container {
    padding: 0 1rem 1rem 1rem;
    background-color: cadetblue;
  }

  &_titleDate {
    font-family: Arial;
    font-style: italic;
  }

  &_img,
  &_vid {
    object-fit: cover;
    display: block;
    height: 70vh;
    width: 100%;
  }

  &_explanation {
    font-weight: 200;
    line-height: 24px;
    line-break: auto;
    font-family: Arial;
  }
}
